.terraform
*-export

# vscode directory
.vscode

# templates

# terraform modules

# macOS files
.DS_Store

# Ignore Jetbrains IDE settings
.idea

# Terraform
.terraform
terraform/application/vendor
terraform/domains/environment_domains/vendor
terraform/domains/infrastructure/vendor
terraform.tfstate*
